@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import urL('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*navbar1 styling ===================================================================================== */
.navbar1{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(42,124,111);
    font-family: 'Raleway',sans-serif;
    z-index: 10;
    transition: all 0.3s ease;
}
.navbar1.active{
    padding: 15px;
    background: linear-gradient();
}
.navbar1 .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar1 .menu li{
    list-style: none;
    display: inline-block;
    margin-right: -60px;
    margin-left: 80px;
    margin-bottom: 10px;
}
.navbar1 .menu li a{
    color: rgb(196, 255, 235);
    font-weight: 300;
    font-size: 16px;
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.navbar1 .border-box li a:hover{
    background-color: rgb(200, 255, 238);
    border: 2.5px; 
    border-style: solid;
    border-color: rgb(200, 255, 238);
    /*-webkit-text-fill-color:transparent;*/
    /*-webkit-background-clip:text;*/
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.navbar1 .menu li a:hover{
    color: rgb(42,124,111);
}
.navbar1 .logo img{
    height: 40px;
    width: 160px;
    margin-bottom: -10px;
    margin-bottom: -10px;
    margin-left: -70px;
}
.navbar1 .border-box li a{
    border: 3.5px; 
    border-style: solid; 
    border-color: rgb(42,124,111);
    background-size: 40px 40px; 
    box-sizing:content-box;
    text-align: center;
    padding: 5;
}
/*navbar2 styling ==================================================================================== */
.navbar2{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(42,124,111);
    font-family: 'Raleway',sans-serif;
    z-index: 10;
    transition: all 0.3s ease;
}
.navbar2.active{
    padding: 15px;
    background: linear-gradient();
}
.navbar2 .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar2 .menu li{
    list-style: none;
    display: inline-block;
    margin-right: -60px;
    margin-left: 80px;
    margin-bottom: 10px;
}
.navbar2 .menu li a{
    color: rgb(196, 255, 235);
    font-weight: 300;
    font-size: 16px;
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.navbar2 .border-box li a:hover{
    background-color: rgb(200, 255, 238);
    border: 2.5px; 
    border-style: solid;
    border-color: rgb(200, 255, 238);
    /*-webkit-text-fill-color:transparent;*/
    /*-webkit-background-clip:text;*/
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.navbar2 .menu li a:hover{
    color: rgb(42,124,111);
}
.navbar2 .border-box li a{
    border: 3.5px; 
    border-style: solid; 
    border-color: rgb(42,124,111);
    background-size: 40px 40px; 
    box-sizing:content-box;
    text-align: center;
    padding: 5;
}
.navbar2 .logo img{
    height: 40px;
    width: 160px;
    margin-bottom: -10px;
    margin-bottom: -10px;
    margin-left: -70px;
}
.navbar2 .search .search-bar{
    position: absolute;
    width: 410px;
    margin-left: -170px;
    border-radius: 5px;
    background: rgba(0, 47, 49, 0.767);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: -20px;
    -webkit-backdrop-filter: blur(4px) saturate(180%);
            backdrop-filter: blur(4px) saturate(180%);
}
.navbar2 .search .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 0px;
    font-size: 15px;
    color: rgb(224, 255, 248);
    font-family: 'Raleway',sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 100;
    transition: 0.2s ease-in;
}
::-webkit-input-placeholder{
    color: rgb(224, 255, 248);
}
::-moz-placeholder{
    color: rgb(224, 255, 248);
}
:-ms-input-placeholder{
    color: rgb(224, 255, 248);
}
::-ms-input-placeholder{
    color: rgb(224, 255, 248);
}
::placeholder{
    color: rgb(224, 255, 248);
}
.navbar2 .search .search-bar img{
    width: 15px;
    transition: 0.22s ease-out;
}
.navbar2 .search .search-bar img:hover{
    width: 20px;
    transition: 0.2s ease-in;
}
.navbar2 .search .search-bar input:hover {
    font-size: 14px;
    transition: 0.2s ease-in;
    padding: 5.6px 0px;
}
.navbar2 .search .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgba(196, 255, 235, 0.5);
    cursor: pointer;
}
.navbar2 .search .search-bar button:hover{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgb(196, 255, 235);
    transition: 0.2s ease-in;
    transition: 0.3s ease-out;
    cursor: pointer;
}
/*sub-navbar styling ================================================================================ */
.sub-navbar{
    position: absolute;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(0,83,109);
    font-family: 'Raleway',sans-serif;
    z-index: 10;
    transition: all 0.3s ease;
    margin-top: 63px;
}
.sub-navbar.active{
    padding: 5px;
    background: linear-gradient();
}
.sub-navbar .max-width{
    display: flex;
    align-content: left;
    justify-content: right;
    text-align: left;
    margin-left: -70px;
    justify-content: space-between;
}
.sub-navbar .menu li{
    padding-top: 5px;
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: uppercase;
}
.sub-navbar .menu li a{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 10.9px;
    font-weight: 200;
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.sub-navbar .border-box li a:hover{
    background-color: rgb(1, 110, 143);
    border: 2.5px; 
    border-style: solid;
    border-color: rgb(1, 110, 143);
    font-weight: 500;
    /*-webkit-text-fill-color:transparent;*/
    /*-webkit-background-clip:text;*/
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.sub-navbar .menu li a:hover{
    color: rgb(255, 255, 255);
}
.sub-navbar .border-box li a{
    border: 3.5px; 
    border-style: solid; 
    border-color: rgb(0,83,109);
    background-size: 40px 40px; 
    box-sizing: content-box;
    text-align: center;
    padding: 5;
}
/*sidebar1 styling =================================================================================== */
.sidebar{
    position: fixed;
    background:#08546c;
    backdrop-filter: blur;
    font-family: 'Raleway',sans-serif;
    top: 0;
    left: 0;
    z-index: 10;
    width: 295px;
    height: 100vh;
    max-height: 500%;
    overflow-y: auto;
    margin-top: 105px;
    display: none;
    transition: 0.1s ease-in;
    transition: 0.1s ease-out;
}
.sidebar .text{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 1px;
}
.sidebar .text span{
    opacity: 0;
}
.sidebar .text p{
    color: #bbff00;
    opacity: 0;
}
.sidebar .text i{
    position: absolute;
    color: white;
    font-size: 13px;
    right: 0;
    margin: 2px;
    margin-right: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s ease-in;
    transition: 0.2s ease-out;
}
.sidebar .text i:hover{
    color: #bbff00;
    font-size: 15px;
    transition: 0.2s ease-in;
    transition: 0.2s ease-out;
}
.sidebar ul{
    height: 100%;
    width: 100%;
    list-style: none;
}
.sidebar ul li{
    line-height: 39.7px;
}
.sidebar ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15.5px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding: 5px 20px;
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.sidebar ul li a:hover{
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(1, 110, 143);
    border: 1px; 
    border-style: solid;
    border-color: rgba(105, 196, 223, 0.76);
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.sidebar ul ul{
    position: static;
    background: #09607a;
    display: none;
}
.sidebar ul ul li{
    line-height: 35px;
}
.sidebar ul ul li a{
    font-size: 14px;
    padding-left: 40px;
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.sidebar ul ul li a:hover{
    font-size: 14.3px;
    font-weight: 400;
    background-color: rgb(1, 110, 143);
    border: 1px; 
    border-style: solid;
    border-color: rgba(105, 196, 223, 0.76);
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
}
.sidebar ul li a span{
    position: absolute;
    top: 35%;
    right: 20px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.719);
    transition: transform 0.22s ease-out;
    transition: transform 0.22s ease-out;
}
.sidebar ul li a:hover span{
    color: white;
    transition: transform 0.22s ease-out;
    transition: transform 0.22s ease-out;
}
/*home section styling =============================================================================== */
.home{
    align-items: center;
    justify-items: center;
    display: grid;
    max-height: 100vh;
    width: 100%;
    background: url(Attachments/Backgrounds/pic1.jpeg);
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Raleway',sans-serif;
    z-index: 1;
}
.home .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 247, 255, 0.123);
    z-index: 0;
}
.home .search .search-bar{
    color: blue;
    width: 600px;
    border-radius: 5px;
    background: rgba(0, 70, 64, 0.747);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4px) saturate(180%);
            backdrop-filter: blur(4px) saturate(180%);
}
.home .search .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 0px;
    font-size: 15px;
    color: rgb(224, 255, 248);
    font-family: 'Raleway',sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
    transition: 0.2s ease-in;
}
::-webkit-input-placeholder{
    color: rgb(224, 255, 248);
}
::-moz-placeholder{
    color: rgb(224, 255, 248);
}
:-ms-input-placeholder{
    color: rgb(224, 255, 248);
}
::-ms-input-placeholder{
    color: rgb(224, 255, 248);
}
::placeholder{
    color: rgb(224, 255, 248);
}
.home .search .search-bar img{
    width: 25px;
    transition: 0.22s ease-out;
}
.home .search .search-bar img:hover{
    width: 30px;
    transition: 0.2s ease-in;
}
.home .search .search-bar input:hover{
    font-size: 15px;
    transition: 0.2s ease-in;
}
.home .search .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: rgba(196, 255, 235, 0.5);
    cursor: pointer;
}
.home .search .search-bar button:hover{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: rgb(196, 255, 235);
    transition: 0.2s ease-in;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.home .max-width{
    margin: auto 0 auto 40px;
    position: relative;
    color: #013f35;
    margin-top: 590px;
    font-family:'Playfair Display',sans-serif;
}
.home .home-content .text1{
    margin-top: -1160px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}
.home .home-content .text2{
    font-size: 25px;
    font-weight: 600;
    margin-left: -30px;
    margin-top: 15px;
}
.home .home-content .text3{
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    margin-left: 70px;
    color: white;
    width: 26ch;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation: typing 3.5s steps(22), blink .5s step-end infinite alternate;
            animation: typing 3.5s steps(22), blink .5s step-end infinite alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    white-space: nowrap;
    overflow-x: hidden;
}

@-webkit-keyframes typing {
    from { width: 0}
  }

@keyframes typing {
    from { width: 0}
  }   
  @-webkit-keyframes blink {
    50% {
      border-color: transparent
    }
  }   
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.home .leaf1 {
    width: 220px;
    height: 220px;
    margin-left: -1050px;
    margin-bottom: -14px;
    transform: scaleX(-1) rotate(-25deg);
}
.home .leaf2 {
    width: 220px;
    height: 220px;
    margin-right: -1050px;
    margin-top: -204px;
    transform: rotate(-25deg);
}
.homepage-products{
    position: relative;
    overflow: hidden;
    height: 56vh;
    width: 100vw;
    padding: 5px;
    padding-left: 10px;
    font-family:'Raleway',sans-serif;
    background-color: rgba(0, 32, 31, 0.904);
    color: white;
    border: 4.5px; 
    border-style: solid;
    border-color: rgba(176, 255, 189, 0.253);
    z-index: 5;
    margin-top: -39px;
    margin-right: auto;
    z-index: 2;
    overflow-x: scroll;
}
.homepage-products::-webkit-scrollbar{
    display: none;
}
.homepage-products .featured-products{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: -5px;
    font-family:'Raleway',sans-serif;
    text-transform: uppercase;
}
.homepage-products .product-box{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    margin-right: -90px;
    margin-left: -90px;
}
.homepage-products .product-box::-webkit-scrollbar{
    display: none;
}
.homepage-products .product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin: 10px;
    margin-left: 36.6px;
}
.homepage-products .product-image{
    position: relative;
    overflow: hidden;
}
.homepage-products .product-icon{
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px;
    height: 260px;
    border: 3px;
    border-style: solid;
    border-color: rgba(88, 152, 163, 0.774);
}
.homepage-products .discount-tag{
    position: absolute;
    background-color: rgba(18, 18, 102, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: white;
    right: 50px;
    top: 0px;
}
.home .gifbag img{
    width: 43px;
    height: 43px;
    margin-top: -55px;
    margin-left: 85px;
    z-index: 0;
}
.homepage-products .add-cart{
    position: absolute;
    bottom: 140px;
    left: 100px;
    transform: translateX(-50%);
    background-color: rgba(1, 53, 49, 0.795);
    border: 5px; 
    border-style: solid;
    border-color: rgba(1, 31, 29, 0.671);
    border-radius: 5px;
    width: 140px;
    height: 40px;
    font-weight: 200;
    font-size: 14px;
    font-family:'Raleway',sans-serif;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-right: 15%;
    padding-top: 2.5%;
    z-index: 0;
    transition: 0.2s;
    margin-bottom: -120px;
}
.homepage-products .product-card:hover .add-cart{
    opacity: 1;
}
.homepage-products .add-cart:hover{
    border-color: rgba(91, 163, 175, 0.733);
    background-color: rgba(19, 54, 52, 0.781);
}
.homepage-products .product-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.homepage-products .product-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.homepage-products .product-description{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
.homepage-products .price{
    font-size: 17px;
    font-weight: 600;
}
.homepage-products .actual-price{
    margin-left: 130px;
    opacity: 0.5;
    text-decoration: line-through;
}
.homepage-products .back-btn {
    border: none;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;

    left: 0;
    background: url(Attachments/Icons/leftarrow.png) no-repeat;
    background-size: 40px 60px;
    width: 40px;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.15s;
}
.homepage-products .next-btn{
    border: none;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;

    right: 0;
    background: url(Attachments/Icons/rightarrow.png) no-repeat;
    background-size: 40px 60px;
    width: 40px;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.15s;
}
.homepage-products .next-btn:hover,
.homepage-products .back-btn:hover
{
    opacity: 1;
    transition: 0.15s;
}
/*shop section styling =============================================================================== */
.shop{
    position: relative;
    background: url(Attachments/Backgrounds/pic8.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-position: bottom;
    overflow-x: hidden;
    align-items: center;
    justify-items: center;
    font-family: 'Raleway',sans-serif;
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
    z-index: 1;
    scroll-behavior: smooth;
}
.shop .overlay2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 1000%;
    min-height: 100vh;
    max-height: 680vh;
    background: rgba(1, 21, 65, 0.493);
}
.shop .shop-content{
    min-height: 100%;
    width: auto;
    z-index: 2;
}
.shop .leaf2{
    width: 240px;
    height: 240px;
    margin-top: 65px;
    margin-left: 5px;
    transform: rotate(-35deg);
    z-index: 2;
}
.shop .leaf3{
    width: 240px;
    height: 240px;
    margin-left: 780px;
    transform: rotate(35deg);
    z-index: 2;
}
.shop .shop-content .shop-intro{
    width: auto;
    margin-top: -190px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-family: "Playfair Display", sans-serif;
}
@-webkit-keyframes shop-intro-animation {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #bbff00;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #00b7ff;
     } 
 }
.department-previews{
    position: relative;
    overflow: hidden;
    height: 48vh;
    width: 100vw;
    padding: 5px;
    padding-left: 10px;
    font-family:'Raleway',sans-serif;
    background-color: rgba(0, 32, 31, 0.548);
    border-top: 3px;
    border-top-style: solid;
    border-top-color: rgba(176, 255, 189, 0.253);
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgba(176, 255, 189, 0.253);
    color: white;
    z-index: 5;
    margin-top: 45px;
    margin-right: auto;
    z-index: 2;
}
.department-previews::-webkit-scrollbar{
    display: none;
}
.department-previews .preview-products{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    font-family:'Raleway',sans-serif;
    text-transform: uppercase;
}
.department-previews .product-box{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    margin-right: -90px;
    margin-left: -90px;
}
.department-previews .product-box::-webkit-scrollbar{
    display: none;
}
.department-previews .product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin: 10px;
    margin-left: 38.4px;
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
}
.department-previews .product-image{
    position: relative;
    overflow: hidden;
}
.department-previews .product-icon{
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px;
    height: 200px;
    border: 3px;
    border-style: solid;
    border-color: rgba(88, 152, 163, 0.774);
}
.department-previews .wishlist-btn .heart{
    position: absolute;
    background: url(Attachments/Icons/heart1.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    height: 90px;
    width: 90px;
    cursor: pointer;
    right: -7px;
    top: 12px;
    transition: 0.1s ease-in;
    transition: 0.1s ease-out;
}
.department-previews .wishlist-btn button:hover{
    position: absolute;
    background: url(Attachments/Icons/heart3.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    right: -5px;
    top: 10px;
    height: 90px;
    width: 90px;
    cursor: pointer;
    transition: 0.07s ease-in;
    transition: 0.07s ease-out; 
}
.department-previews .wishlist-btn .heart.active{
    position: absolute;
    background: url(Attachments/Icons/heart2.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    height: 90px;
    width: 90px;
    cursor: pointer;
    right: -7px;
    top: 12px;
    transition: 0.1s ease-in;
    transition: 0.1s ease-out;
}
.department-previews .gifbag img{
    width: 46px;
    height: 52px;
    margin-left: 85px;
    margin-top: -90px;
    opacity: 0.6;
    z-index: 0;
}
.department-previews .add-cart{
    position: absolute;
    bottom: 145px;
    left: 100px;
    transform: translateX(-50%);
    background-color: rgba(1, 53, 49, 0.795);
    border: 3.5px; 
    border-style: solid;
    border-color: rgba(91, 163, 175, 0.733);
    border-radius: 3px;
    width: 140px;
    height: 40px;
    font-weight: 300;
    font-size: 13.3px;
    font-family:'Raleway',sans-serif;
    color: white;
    cursor: pointer;
    opacity: 1;
    padding-right: 15%;
    padding-top: 3.5%;
    z-index: 0;
    transition: 0.2s;
    margin-bottom: 30px;
    margin-left: 25px;
    transition: 0.22s ease-in;
    transition: 0.22s ease-out;
}
.department-previews .add-cart:hover{
    border-color: rgba(220, 252, 250, 0.466);
    background-color: rgba(19, 54, 52, 0.781);
    font-size: 13.8px;
    transition: 0.22s ease-in;
    transition: 0.22s ease-out;
}
.department-previews .add-cart:hover .gifbag{
    opacity: 1;
}
.department-previews .product-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.department-previews .product-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.department-previews .product-description{
    width: 100%;
    height: 20px;
    line-height: 15px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: -2px 0;
    opacity: 0;
}
.department-previews .product-info .price{  
    font-size: 19px;
    font-weight: 600;
}
.department-previews .back-btn{
    border: none;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;

    left: 0;
    background: url(Attachments/Icons/leftarrow.png) no-repeat;
    background-size: 40px 60px;
    width: 40px;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
    transition: 0.15s;
}
.department-previews .next-btn{
    border: none;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;

    right: 0;
    background: url(Attachments/Icons/rightarrow.png) no-repeat;
    background-size: 40px 60px;
    width: 40px;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
    transition: 0.15s;
}
.department-previews .next-btn:hover,
.department-previews .back-btn:hover
{
    opacity: 1;
    transition: 0.15s;
    -webkit-filter: brightness(1);
            filter: brightness(1);
}
/*about section styling ============================================================================== */
.about{
    position: relative;
    background: url(Attachments/Backgrounds/pic18.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: contrast(1.7);
            filter: contrast(1.7);
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-position: top;
    overflow-x: hidden;
    align-items: center;
    justify-items: center;
    font-family: 'Raleway',sans-serif;
    z-index: 1;
}
.about .overlay3{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 1000%;
    min-height: 100vh;
    max-height: 190vh;
    background: rgba(22, 61, 56, 0.322);
}
.about .health-heart{
    width: 330px;
    height: 330px;
    margin-top: 300px;
    margin-left: 790px;
    -webkit-filter: brightness(2);
            filter: brightness(2);
}
.about .about-title{
    margin-top: -530px;
    margin-left: 30px;
    font-size: 55px;
    background-image: linear-gradient(-225deg, #004906 0%,#95e6ff 29%,#004943 67%,#beff88 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: textclip 4s linear infinite;
            animation: textclip 4s linear infinite;
    font-family: 'Playfair Display SC', serif;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/*
.about .about-title{
    margin-top: -470px;
    margin-left: 40px;
}
*/
.about .about-sub-title h2{
    margin-top: -5px;
    margin-left: 30px;
    font-size: 59px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Raleway';
    -webkit-text-fill-color: white;
}
.about .about-sub-title span{
    font-size: 50px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Raleway';
    -webkit-text-fill-color:#ffffff;
}
.about .about-sub-title span span{
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    -webkit-text-fill-color:#ffffff;
}

.about .about-sub-title:first-of-type{
    -webkit-animation: showup 7s infinite;
            animation: showup 7s infinite;
}
.about .about-sub-title:last-of-type{
    width: 0px;
    -webkit-animation: reveal 7s infinite;
            animation: reveal 7s infinite;
}
.about .about-sub-title:last-of-type span{
    margin-left: -355px;
    -webkit-animation: slidein 7s infinite;
            animation: slidein 7s infinite;
  }
@-webkit-keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
}
@keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
}
@-webkit-keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
}
@keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
}
 @-webkit-keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:755px;}
      80% {opacity:1;}
      100% {opacity:0;width:755px;}
}
 @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:755px;}
      80% {opacity:1;}
      100% {opacity:0;width:755px;}
}
.about-info{
    position: absolute;
    margin-top: 15px;
}
.about-info span{
    position: relative;
    color: white;
    font-weight: 300;
    font-size: 67px;
    margin-left: 5px;
}
.about-info .first-box{
    position: relative;
    background-color: rgba(0, 59, 52, 0.322);
    border: 3px;
    border-style: solid;
    border-color: rgba(200, 255, 238, 0.411);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.288);
    color: white;
    font-weight: 300;
    font-size: 16px;
    width: 560px;
    height: 400px;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 35px;
    line-height: 33px;
}
.about-info .second-box{
    position: relative;
    background-color: rgba(21, 0, 59, 0.322);
    border: 3px;
    border-style: solid;
    border-color: rgba(215, 200, 255, 0.411);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.288);
    color: white;
    font-weight: 300;
    font-size: 16px;
    width: 560px;
    height: 540px;
    margin-left: 40px;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 35px;
    line-height: 33px;
}
.about .med-box{
    position: relative;
    width: 285px;
    margin-top: 680px;
    margin-left: 810px;
    height: 285px;
    filter: brightness(1.1);
}
/*login section styling ============================================================================== */
.login{
    position: relative;
    background:rgba(0, 247, 255, 0.123);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: contrast(1.7);
    filter: contrast(1.7);
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-position: top;
    overflow: hidden;
    font-family: 'Raleway',sans-serif;
    z-index: 1;
}
.login video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    z-index: -1;
    opacity: 0.9;
}
.login .overlay8{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 153, 255, 0.226);
    z-index: 0;
}
.login .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    color: #ffffff;
    background: #001f29ad;
    border-radius: 10px;
    border: 1px solid white;
}
.center h1{
    background: #001f29ad;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid rgb(176, 252, 242);
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text-field{
    position: relative;
    border-bottom: 1px solid rgb(117, 252, 234);
    margin: 30px 0px;
}
.text-field input{
    width: 100%;
    padding: 5px 5px;
    height: 40px;
    font-size: 16px;
    color: white;
    border: none;
    background:none;
    outline: none;
}
.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: text;
    pointer-events: none;
    transition: 0.2s;
}
.text-field span::before{
    position: absolute;
    content: '';
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #a8dcff;
    transition: 0.2s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -9px;
    color: rgb(140, 255, 236);
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
    width: 100%;
}
.forgot-pass{
    margin: -5px 0 20px 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}
.forgot-pass:hover{
    color: rgb(140, 255, 196);
    transition: 0.3s;
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background: rgba(100, 136, 117, 0.534);
    border: 2px solid rgba(39, 117, 77, 0.534);
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
}
input[type="submit"]:hover{
    background: rgba(136, 185, 160, 0.534);
    border: 2px solid #80fff480;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    transition: 0.2s ease;
}
.sign-up{
    margin: 30px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
.sign-up a{
    text-decoration: none;
    color: #d1ffd4;
    background: rgb(67, 122, 115);
    border-radius: 3px;
    border: 3px solid rgb(67, 122, 115);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}
.sign-up a:hover{
    text-decoration: none;
    color: #004906;
    background: rgb(140, 255, 196);
    border-radius: 3px;
    border: 3px solid rgb(140, 255, 196);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}
